
<p id="notice"><%= notice %></p>
<!--h1>Repairs</h1 relaced with page title partial-->
<%= render 'layouts/shared/page_title', title: "showing all repairs" %>



<!--table  below class was added jkm-->
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Job number</th>
      <th>Fault</th>
      <th>Descrition</th>
      <th>Repair type</th>
      <th>Booking date</th>
      <th>Location</th>
      <th>Repairer</th>
      <th>Serviceprovider</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.job_number %></td>
        <td><%= repair.fault %></td>
        <td><%= repair.descrition %></td>
        <td><%= repair.repair_type %></td>
        <td><%= repair.booking_date %></td>
        <td><%= repair.location %></td>
        <td><%= repair.repairer %></td>
        
        <%# add by jkm/ working now%>
       <!--  <td><%#= repair.serviceproviders.map  { |serviceproviders| serviceproviders.title } %></td> -->
        <td><%= repair.serviceprovider&.title %></td>
       
        
        <td><%= link_to 'Show', repair %></td>
        
        <% if current_user && current_user.admin %>
          <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
          <td><%= link_to 'Destroy', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repair', new_repair_path %>
