<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @solution.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @solution.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @solution.image_url %>
</p>

<p>
  <strong>Serviceprovider:</strong>
  <%= @solution.serviceprovider&.title %>
</p>


<!--resolve the error by adding &.id to repair below-->
<p>
  <strong>Repair:</strong>
  <%= @solution.repair&.id %>
</p>
<%if current_user && current_user.admin %>
<%= link_to 'Edit', edit_solution_path(@solution) %> |
<% end %>
<%= link_to 'Back', solutions_path %>
